<% if obj.errors.any? %>
<div class="form-group row">
  <div class="alert alert-danger col-sm-8 offset-sm-2" role="alert">
    <h2 class="panel-title">
      <%= pluralize(obj.errors.count, "error") %>
      prohibited this article form being saved:
    </h2>
    <div class="panel-body">
      <ul>
        <% obj.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<% end %>
